.stack {
  display: flex;
}

/* Направления */
.stack--direction-row {
  flex-direction: row;
}

.stack--direction-column {
  flex-direction: column;
}

.stack--direction-row-reverse {
  flex-direction: row-reverse;
}

.stack--direction-column-reverse {
  flex-direction: column-reverse;
}

/* Выравнивание по поперечной оси */
.stack--align-start {
  align-items: flex-start;
}

.stack--align-end {
  align-items: flex-end;
}

.stack--align-center {
  align-items: center;
}

.stack--align-stretch {
  align-items: stretch;
}

.stack--align-baseline {
  align-items: baseline;
}

/* Выравнивание по главной оси */
.stack--justify-start {
  justify-content: flex-start;
}

.stack--justify-end {
  justify-content: flex-end;
}

.stack--justify-center {
  justify-content: center;
}

.stack--justify-between {
  justify-content: space-between;
}

.stack--justify-around {
  justify-content: space-around;
}

.stack--justify-evenly {
  justify-content: space-evenly;
}

/* Перенос */
.stack--wrap-nowrap {
  flex-wrap: nowrap;
}

.stack--wrap-wrap {
  flex-wrap: wrap;
}

.stack--wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}


