.card {
  border-radius: var(--border-radius-xl);
  transition: box-shadow var(--transitions-duration-base)
    var(--transitions-easing-easeInOut);
}

.card--size-sm {
  padding: spacing(3);
}

.card--size-md {
  padding: spacing(4);
}

.card--size-lg {
  padding: spacing(6);
}

.card--variant-default {
  background-color: var(--palette-background-default);
}

.card--variant-paper {
  background-color: var(--palette-background-paper);
}

.card--variant-accent {
  background-color: var(--palette-background-accent);
}

.card--elevation-none {
  box-shadow: none;
}

.card--elevation-sm {
  box-shadow: var(--shadows-sm);
}

.card--elevation-md {
  box-shadow: var(--shadows-md);
}

.card--elevation-lg {
  box-shadow: var(--shadows-lg);
}

.card--elevation-xl {
  box-shadow: var(--shadows-xl);
}

.card--bordered {
  border: var(--border-base) solid var(--palette-border-subtle);
}
