.heading {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.headingAnchor {
  text-decoration: none;
  color: inherit;
  transition: color var(--transitions-duration-base, 200ms)
    var(--transitions-easing-easeInOut, cubic-bezier(0.4, 0, 0.2, 1));

  &:hover {
    color: inherit;
  }
}

.headingText {
  display: inline;
}

.hashIcon {
  position: absolute;
  left: -1.4em;
  font-size: 1.15em;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  color: var(--palette-text-secondary, currentColor);
  transition: opacity var(--transitions-duration-base, 200ms)
    var(--transitions-easing-easeInOut, cubic-bezier(0.4, 0, 0.2, 1));
  &::before {
    content: "";
    position: absolute;
    inset: -2px;
  }
}

.headingAnchor:hover .hashIcon,
.headingAnchor:focus-visible .hashIcon {
  opacity: 1;
}
