.wrapper {
  width: 100%;
  border-top-left-radius: spacing(4);
  border-top-right-radius: spacing(4);
  border: var(--border-base) solid var(--palette-border-default);

  min-height: spacing(8);

  background-color: var(--palette-background-accent);
}