.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: spacing(4);
  height: spacing(4);
  padding: 0;
  border: var(--border-base) solid var(--palette-border-strong);
  border-radius: var(--border-radius-round);
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  transition: all var(--transitions-duration-base) var(--transitions-easing-easeInOut);
  user-select: none;

  &:focus-visible {
    outline: 2px solid var(--palette-primary-main);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--close {
  background-color: var(--palette-error-main);
  color: var(--palette-error-contrast-text);

  &:hover:not(:disabled) {
    background-color: var(--palette-error-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--palette-error-active);
  }
}

.button--expand {
  background-color: var(--palette-success-main);
  color: var(--palette-success-contrast-text);

  &:hover:not(:disabled) {
    background-color: var(--palette-success-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--palette-success-active);
  }
}

[data-color-scheme='dark'] .button {
  &:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.2);
  }
}